div .wrap {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    padding: 20px;
    width: 398px;
    height: 680px;
    top: 50px;
    left: 50px;
    position: absolute;
}