<!DOCTYPE html>
<head>

    <title>SheGineer</title>
        <!-- responsiveness -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        
		<link rel="stylesheet" type="text/css" href="application.css">

        <!-- is this for the swipe?-->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>


		<!-- Bootstrap -->
			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
<body>
 <h1>sheGineers</h1>

    <ul class="nav nav-tabs">
	  <li><a href="index.html.erb" data-toggle="tab">Home</a></li>
	  <li><a href="about.html.erb" data-toggle="tab">About</a></li>
	  <li><a href="mysheroes.html.erb" data-toggle="tab">My She-roes</a></li>
	  <li><a href="learn.html.erb" data-toggle="tab">Learn</a></li>
	</ul>

<h2>About</h2>
<p>This is a paragraph.</p>

</body>
</html>